<%-include('header') %>
<%-include('nav') %>
<h1 class="mx-5 my-5">CROMA</h1>
<% if(tasks.length===0){%>
    <h3 class="text-success text-center mt-5">no remaning task avilable.</h3>
<%} %>
<ol class="list-group list-group-numbered">
    <%tasks.forEach((task)=>{   %>
    <li class="list-group-item container border border-dark my-3 d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><%=task.title%></div>
        <%=task.dec%> | <small class="text-danger"><%=task.date%></small>
      </div>
     <a href="/edit/<%=task.id%>"> <span class="badge fs-4 rounded-pill">✏️</span></a>
     <a href="/delete/<%=task.id%>"> <span class="badge fs-4 rounded-pill">❌</span></a>
    </li>
    <%  }) %>
  </ol>
<%-include('footer') %>